<!--
#{extends 'main.html' /}
#{set title:'Home' /}

#{welcome /}
        -->
<h1>Påmelding til fotballtrening</h1>
<form action="@{Application.endreAktivTrening()}" method="GET">
    Velg en annen trening: <select size="1" name="trening">
    #{list items:treninger, as:'t'}
    <option value="${t.id}">${t.dato}</option>
    #{/list}
</select>
    <input type="submit" value="Endre trening"/>
</form>

<hr>
<h2>Registrering gjelder trening : ${gjeldendeTrening.dato}</h2>
Sted: ${gjeldendeTrening.sted} <br>
Klokkeslett: ${gjeldendeTrening.tidspunkt} <br>
<p>
<form action="@{Application.settStatus()}" method="GET">
    Velg person: <select size="1" name="person">
    #{list items:personerUtenStatus, as:'p'}
    <option value="${p.id}">${p.fornavn} ${p.etternavn}</option>
    #{/list}
  </select> <select name="status">
      <option value="Ja">Ja</option>
      <option value="Nei">Nei</option>
  </select>
    <input type="hidden" name="trening" value="${gjeldendeTrening.id}"/>

    <!--select name="trening">
       #{list items:treninger, as:'trening'}
            <option value="${trening.id}" name="trening">${trening.dato}</option>
       #{/list}
    </select-->
    <input type="submit" value="Sett status"/>
</form>
</p>
<p><table>
    <tr>
        <td colspan="3">Antall som kommer: ${deltakelserKommer.size()}</td>
    </tr>
    #{list items:deltakelserKommer, as:'d'}
    <tr class="kommer">
        <td></td>
        <td>${d.person.fornavn} ${d.person.etternavn}</td>
        <td>Ta vekk</td>
    </tr>
    #{/list}
    <tr>
        <td colspan="3">Kommer ikke</td>
    </tr>
    #{list items:deltakelserKommerIkke, as:'d'}
    <tr class="kommerIkke">
        <td></td>
        <td>${d.person.fornavn} ${d.person.etternavn}</td>
        <td><a href="@{Application.slettPaamelding(d.id)}">Ta vekk</a></td>
    </tr>
    #{/list}
</table>
</p>