#{extends 'main.html' /}
#{set title:'Editer gruppe' /}


#{if gruppe == null}
Feil, fant ikke gruppen du søkte etter...
#{/if}
#{else}
<form action="@{Gruppes.save(gruppe.id)}" method="POST">
  <table border="0" cellpadding="10">
    <tr>
      <th>Navn;</th>
      <td><input name="navn" value="${gruppe.navn}"></td>
    </tr>
    <tr>
      <th>Beskrivelse:</th>
      <td><input name="beskrivelse" value="${gruppe.beskrivelse}"></td>
    </tr>
    <tr>
      <th>Aktiv:</th>
      <td><input type="checkbox" name="aktiv" checked="checked"></td>
    </tr>



  </table>

  <input type="hidden" name="id" value="${gruppe.id}"/>
  <input type="submit" value="Lagre"/>
</form>

#{/else}
