tr.kommer td {
	background-color: #ddffaa; color: black;  ;
}
tr.kommerIkke td {
	background-color: #ffa07a; color: black; ;
}

td.kolonne1 td {
    width: 5% ;
}

td.kolonne2 td {
    width: 5% ;
}

td.kolonne3 td {
    width: 65% ;
}