#{extends 'main.html' /}
#{set title:'Hvem kommer?' /}


<table border="1">
  <tr>
    <td>
      <table>
        <th>Aktive grupper:</th>
      #{list items:grupper, as:'gruppe'}
        <tr>
          <th class="th.gruppenavn"><a href="@{Gruppes.show(gruppe.id)}">${gruppe.navn}</a></th>
        </tr>
        <tr>
          <td class="td.gruppedetalj">${gruppe.beskrivelse}</td>
        </tr>
      #{/list}
        </th>
      </table>
    </td>
    <td>
      <table>
        <th>Kommende aktiviteter:</th>
      #{list items:aktiviteter, as:'aktivitet'}
        <tr>
          <th class="th.aktivitetsnavn">${aktivitet.gruppe}</th>
        </tr>
        <tr>
          <td class="td.aktivitetsdetalj">${aktivitet.dato} kl. ${aktivitet.tidspunkt}, ${aktivitet.sted}</td>
        </tr>
      #{/list}
        </th>
      </table>
    </td>
  </tr>
</table>