#{extends 'main.html' /}
#{set title:'Hvem kommer?' /}

<h1>Gruppe :${gruppe.navn}</h1>
<form action="@{Application.endreAktivAktivitet()}" method="GET">
    Velg en annen aktivitet: <select size="1" name="aktivitetId">
    #{list items:aktiviteter, as:'t'}
    <option value="${t.id}">${no.hvemkommer.DatoUtil.formatterDato( t.dato )}</option>
    #{/list}
</select>
    <input type="submit" value="Endre aktivitet"/>
</form>

<hr>
<h2>Aktivitet ${no.hvemkommer.DatoUtil.formatterDato( gjeldendeAktivitet.dato )}</h2>
Sted: ${gjeldendeAktivitet.sted} <br>
Klokkeslett: ${gjeldendeAktivitet.tidspunkt} <br>
<p>
<form action="@{Application.settStatus()}" method="GET">
    Velg person: <select size="1" name="personId">
    #{list items:personerUtenStatus, as:'p'}
    <option value="${p.id}">${p.fornavn} ${p.etternavn}</option>
    #{/list}
  </select> <select name="status">
      <option value="Ja">Ja</option>
      <option value="Nei">Nei</option>
  </select>
    <input type="hidden" name="aktivitetId" value="${gjeldendeAktivitet.id}"/>
    <input type="submit" value="Sett status"/>
</form>
</p>
<p><table cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2">Antall som kommer: ${deltakelserKommer.size()}</td>
    </tr>
  <tr>
    <th align="LEFT">Kommer</th>
    <th></th>
  </tr>
    #{list items:deltakelserKommer, as:'d'}
    <tr class="kommer">
        <td>${d.person.fornavn} ${d.person.etternavn}</td>
      <td><a href="@{Application.slettPaamelding(d.id)}">Ta vekk</a></td>
    </tr>
    #{/list}
  <tr>
    <th align="LEFT"><br>Kommer ikke</th>
    <th></th>
  </tr>
    #{list items:deltakelserKommerIkke, as:'d'}
    <tr class="kommerIkke">
        <td>${d.person.fornavn} ${d.person.etternavn}</td>
        <td><a href="@{Application.slettPaamelding(d.id)}">Ta vekk</a></td>
    </tr>
    #{/list}
</table>
</p>